html {
	background: #fff;
	font: 12px arial,sans-serif;
	margin: 0;
	padding: 0;
}

a:link, a:visited, a:hover, a:active {
	color: #903;
	text-decoration: none;
}
   
a:hover, a:active {
	color: #c60;
}

#login_container {
	background: #D4D4D4;
	border: 1px solid #eee;
	margin: 30px auto 0;
	width: 542px;
}
   
#header {
	background: #ffcb66 left bottom no-repeat;
	height: 38px;
	padding: 11px 0 11px 17px;
}

#header h1 {
	margin: 0;
}

#header h1 a {
	background: url(images/asu_logo.gif) no-repeat scroll 0 0;
	display: block;
	height: 38px;
	overflow: hidden;
	text-indent: -1000px;
	width: 234px;
}

#ad {
	/*border-left: 1px solid #D4D4D4;
	border-right: 1px solid #D4D4D4;*/
	/* save space for the ad so the page doesn't jump */
	height: 90px;
	overflow: hidden;	
}
   
#login {
	margin: 0 auto 12px auto;
	padding: 0;
	width: 360px;
}

#login h2, #logout h2 {
	background: white url(images/boxtop_ccc.gif) repeat-x scroll bottom;
	border: 1px solid #CCC;
	border-bottom-width: 0;
	border-top-width: 0;
	color: #222;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 6px 0;
	text-align: center;
}

#login .content, #logout .content {
	border: 1px solid #CCC;
	background: #eee;
	margin: 0;
	padding: 15px 7px 10px;
}

#login .label label {
	font-size: 13px;
	font-weight: bold;
	margin: 0;
}

#login span {
	display: block;	
	font-size: 11px;
}

#login .label a {
	color: #FF6801;
}

#login .label a:hover {
	color: #903;
}

#login .label {
	float: left;
	margin-bottom: 5px;
	padding-top: 3px;
	text-align: right;
	width: 125px;
}

#login .section {
	overflow: hidden;
}

#login input.text {
	background: #fff;
	border: 1px solid #ccc;
	color: #000;
	height: 19px;
	margin: 1px 3px 1px 7px;
	padding: 2px 2px 0 2px;
	width: 192px;
}

#login input.submit {
	background: transparent url(images/login_bttn.gif) 0 0 no-repeat;
	border: none;
	clear: both;
	color: #903;
	cursor: pointer;
	font: bold 12px/24px arial,sans-serif;
	height: 24px;
	margin-left: 134px;
	padding-bottom: 2px;
	width: 58px;
}

#login input.submit:hover {
	color: #fff;
	background-position: 0 -25px;
}

#lockout {
	margin: 0 auto 12px auto;
	padding: 0;
	width: 500px;
}

#lockout .content {
	line-height: 200%;
	padding: 20px 0;
	text-align: center;
}

#lockout .headline {
	font-size: 1.3em;
	font-weight: bold;
}

#lockout .subtext {
	font-size: 1.3em;
}

#lockout .more {
	margin-top: 20px;
}

#logout .headline, #logout .subtext {
	font-weight: bold;
	text-align: center;
}

#logout .headline {
	color: #333;
	font-size: 22px;
	line-height: 35px;
}

#logout .headline img {
	vertical-align: middle;
}

#logout {
	margin: 0 auto 12px auto;
	padding: 0;
	width:96%
}

#logout_complete {
	display: none;
	font-weight: bold;
	padding-left: 15px;
	text-align: left;
}

#logout_complete .headline span {
	padding-left: 10px;
}

#logout_complete .headline {
	font-size: 2em;
	text-align: left;
}

#logout_complete .subtext {
	font-size: 1.2em;
	line-height: 25px;
	padding-bottom: 10px;
	padding-left: 50px;
	text-align: left;
}

#submit_wrapper {
	clear: both;
}

#remember {
	clear: both;
	color: #666;
	display: none; /* hide for now */
	font-size: 10px;
	margin-top: -3px;
	padding-left: 5px;
	vertical-align: middle;
}

#remember input.checkbox {
	vertical-align: middle;
}

#help {
	text-align: center;
}

.error {
	background:#ffebe8;
	border:1px solid #dd3c10;
	margin: 0 auto 15px;
	padding: 10px 0;
	text-align: center;
}
.error .title {
	color: #dd3c10;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 3px;
}

.error .subtext {
	font-weight: bold;
	margin: 10px 0;
}

.error .reset {
	padding: 0 50px;
}

.error a.reset-button {
	background: transparent url(images/reset_bttn.gif) center 0 no-repeat;
	color: #903;
	cursor: pointer;
	font-weight: bold;
	line-height: 24px;
	margin: 2px;
	padding: 5px 6px;
	text-decoration: none;
	white-space: nowrap;
}

.error a.reset-button:hover {
	background-position: 0 -25px;
	color: #fff;
}

#login .internal_error {
	line-height: 150%;
	padding: 10px 10px 15px;
	text-align: center;
}

#footer {
	background: #000;
	color: #ccc;
	margin: 0;
	padding: 4px 0;
	text-align: center;
}

#footer a {
	color: #ccc;
	padding: 0 5px;
}

#footer a:hover {
	color: #fff;	
}

#outages {
	color: #444;
	text-align: center;
}

.clear {
	clear: both;
}
