html {
	background: #fff;
	font: 12px arial,sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background: transparent url(images/bg_shadow.png) center top no-repeat;
	color: #333;
	margin: 0;
	padding: 0;
}

a {
	color: #903;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	margin: 0 auto;
	padding: 50px 0;
	width: 542px;
}

#login_container {
	background: #fff;
	padding-bottom: 100px;
}

#header {
	background: #ffcb66;
	height: 38px;
	padding: 11px 17px;
}

#header h1 {
	margin: 0;
}

#header h1 a {
	background: url(images/asu_logo.gif) left top no-repeat;
	display: block;
	height: 38px;
	overflow: hidden;
	text-indent: -1000px;
	width: 234px;
}

#ad {
	height: 80px;
	overflow: hidden;	
}
   
#login {
	margin: 10px;
}

#login h2, #logout h2 {
	font-size: 32px;
	margin: 0;
	text-align: center;
}

.error#status {
	text-align: center;
	margin: 0 auto;
	width: 360px;
}

.error#status .required {
	display: none;
}

.error#status .required:first-child {
	display: block;
	background: transparent url(images/warning_48.png) left top no-repeat;
	color: #dd3c10;
	font-size: 16px;
	font-weight: bold;
	margin: 0 60px;
	padding: 15px 15px 15px 45px;
}

.error#status br {
	display: none;
}

.error#status .title {
	background: transparent url(images/warning_48.png) left top no-repeat;
	color: #dd3c10;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 15px 15px 45px;
}

.error#status .subtext {
	font-weight: bold;
	margin: 5px 5px 0;
}

#login .content {
	border: 0;
	margin: 0;
	padding: 10px;
}

#login .content.generic_success {
	background: transparent url(images/green_checkmark.png) 20px 20px no-repeat;
	line-height: 200%;
	padding: 20px 20px 50px 65px;
}

#login .content.internal_error {
	background: transparent url(images/warning_48.png) 20px 20px no-repeat;
	line-height: 200%;
	padding: 20px 20px 50px 75px;
}

#login .content .headline {
	font-size: 1.3em;
	font-weight: bold;
}

#login .content .subtext {
	font-size: 1.3em;
}

#login .content .section {
	margin: 8px 0;
	overflow: hidden;
}

#login .content .section label {
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 32px;
	margin: 0;
	text-align: right;
	width: 125px;
}

#login .content .section input.text {
	background: #fff;
	border: 1px solid #ccc;
	color: #000;
	float: left;
	font-size: 14px;
	height: 30px;
	margin: 0 8px;
	padding: 0 5px;
	width: 200px;
}

#login .content .section .hint {
	float: left;
	line-height: 32px;
	padding: 0;
}

#login_submit input.submit {
	background: transparent url(images/signin_bttn.png) 0 0 no-repeat;
	border: none;
	color: #903;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
	margin: 0 0 0 133px;
	padding: 0 6px 1px;
	width: 78px;
}

#login_submit input.submit:hover {
	color: #fff;
	background-position: 0 -35px;
}

input.checkbox#rememberid {
	height: 12px;
	margin: 0 0 0 10px;
	padding: 0;
}

#rememberid_label {
	font-size: 13px;
}

#lockout {
	margin: 20px auto;
	padding: 0;
	width: 500px;
}

#lockout .content {
	background: transparent url(images/clock_48.png) 20px 20px no-repeat;
	line-height: 200%;
	padding: 20px 0 50px 75px;
}

#lockout .headline {
	font-size: 1.3em;
	font-weight: bold;
}

#lockout .subtext {
	font-size: 1.3em;
}

#lockout .more {
	margin-top: 20px;
}

#logout {
	margin: 10px;
	padding: 25px 0;
}

#logout .content {
	padding: 10px;
}

#logout .content .headline {
	color: #333;
	font-size: 24px;
	font-weight: bold;
	line-height: 35px;
	padding: 5px 5px 5px 75px;
}

#logout .content .headline.loading {
	background: transparent url(images/loader.gif) 20px 2px no-repeat;
}

#logout .content .headline.success {
	background: transparent url(images/green_checkmark.png) 25px 5px no-repeat;
}

#logout .content .headline.warning {
	background: transparent url(images/warning_48.png) 18px 0 no-repeat;
}

#logout .content .subtext {
	font-weight: bold;
	margin: 0 0 25px 75px;
}

.content#logout_pending {
	padding-bottom: 94px;
}

.content#logout_complete {
	display: none;
}

#help {
	color: #999;
	margin: 15px 0;
	text-align: center;
}

#help .teaser {
	color: #666;
	font-weight: bold;
}

#help .advice {
}

#footer {
	font-size: 11px;
	list-style-type: none;
	margin: 0;
	padding: 4px 0;
	text-align: center;
}

#footer li {
	border-right: 1px solid #999;
	display: inline;
	font-weight: bold;
	padding: 0 5px;
}

#footer li:last-child {
	border: 0;
}

#footer li a {
	color: #999;
}

#footer li a:hover {
}
