body {
	background-color: #cecece;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin:0;
    -webkit-text-size-adjust: none;
	-webkit-user-select: none;
}

a {
	color: #903;
}

#wrapper {
	background-color: #cecece;
	background: -moz-linear-gradient(100% 100% 90deg, #cecece, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#cecece));
}

#header {
	background: #fff;
	padding: 5px 10px;
	width: 100%;
}

#header h1 {
	margin: 0;
	overflow: hidden;
}

#header h1 a {
	background: url(images/mobile_asu.gif);	
	display: block;
	font-size: 1px;
	height: 25px;
	text-indent: -1000px;
	width: 119px;
}

#login, #logout {
	padding: 10px;
}

#login h2, #logout h2 {
	font-size: 16px;
	margin: 0 0 10px 0;
}

#login .content, #logout .content {
	border: 0;
	margin: 0;
	padding: 0;
}

#login input.text {
	border: 1px solid #D9D9D9;
	font-size: 18px;
	padding: 5px 7px;
	width: 95%;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
}

#login input.submit {
	background: black;
	background: -moz-linear-gradient(100% 100% 90deg, #000, #333);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
	border: 1px solid black;
	color: #fff;	
	font-size: 16px;
	padding: 5px 12px;
	-webkit-border-radius: 0;
}

#login .label {
	margin: 5px 0;
}

#login .label span {
	display: none;
}

#lockout {
	margin: 0 auto 12px auto;
	padding: 0;
}

#lockout .content {
	line-height: 150%;
	padding: 20px 0;
	text-align: center;
}

#lockout .headline {
	font-size: 1.1em;
	font-weight: bold;
}

#lockout .subtext {
	font-size: 1.1em;
}

#lockout .more {
	margin-top: 20px;
}

#logout .headline, #logout .subtext {
	font-weight: bold;
	text-align: center;
}

#logout .headline {
	color: #333;
	font-size: 22px;
	line-height: 35px;
}

#logout .headline img {
	vertical-align: middle;
}

#logout .subtext {
	color: #777;
	font-size: 20px;
	line-height: 50px;
}

#logout_complete {
	display: none;	
}

#submit_wrapper {
	padding: 8px 0;
}

#remember {
	display: none;
	padding-left: 8px;
}

#remember input[type=checkbox] {
	vertical-align: baseline;
}

#help {
	border-bottom: 1px solid #d5d3d3;
	font-size: .9em;
	line-height: 25px;
	margin: 0;
	padding: 0 10px 10px;
}

#help .helpdesk {
	white-space: nowrap;	
}

.error {
	background: #ffebe8;
	border: 1px solid #dd3c10;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

.error .title {
	font-weight: bold;
	color: #dd3c10;
	padding-bottom: 3px;
}

.error .subtext {
	margin: 10px 0;
}

.error .reset {
}

.error a.reset-button {
	background: black;
	background: -moz-linear-gradient(100% 100% 90deg, #000, #333);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
	border: 1px solid black;
	color: #fff;	
	font-size: 16px;
	line-height: 200%;
	padding: 5px 12px;
	text-decoration: none;
	white-space: nowrap;
	-webkit-border-radius: 0;
}

#footer {
	border-top: 1px solid #f4efef;
	color: #222;
	font-size: 12px;
	padding: 10px;
}

#footer a {
	color: #222;
	margin: 0 2px;
	padding: 0;
}

#footer a:first-child {
	margin-left: 0;
}

#outages {
	display: none;
}
