body {
	background-color: #cecece;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin:0;
    -webkit-text-size-adjust: none;
	-webkit-user-select: none;
}

a {
	color: #903;
}

#wrapper {
	background-color: #cecece;
	background: -moz-linear-gradient(100% 100% 90deg, #cecece, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#cecece));
}

#header {
	background: #fff;
	padding: 5px 10px;
	width: 100%;
}

#header h1 {
	margin: 0;
	overflow: hidden;
}

#header h1 a {
	background: url(images/mobile_asu.gif);	
	display: block;
	font-size: 1px;
	height: 25px;
	text-indent: -1000px;
	width: 119px;
}

#ad {
	display: none;
}

#login, #logout {
	padding: 10px;
}

#login h2, #logout h2 {
	font-size: 24px;
	margin: 0 0 10px 0;
}

.error#status {
	background: #ffebe8;
	border: 1px solid #dd3c10;
	font-size: 14px;
	padding: 10px;
	margin-bottom: 10px;
}

.error#status .required {
	display: none;
}

.error#status .required:first-child {
	color: #dd3c10;
	font-weight: bold;
	display: block;
	padding-bottom: 3px;
}

.error#status br {
	display: none;
}

.error#status .title {
	color: #dd3c10;
	font-weight: bold;
	padding-bottom: 3px;
}

.error#status .subtext {
	margin: 10px 0;
}

#login .content, #logout .content {
	border: 0;
	margin: 0;
	padding: 0;
}

#login .content.generic_success {
}

#login .content.internal_error {
}

#login .content .headline {
	font-weight: bold;
}

#login .content .subtext {
	margin: 25px 0 40px;
}

#login .content .section {
	margin-bottom: 5px;
}

#login .content .section .label {
	margin: 5px 0;
}

#login .content .section input.text {
	border: 1px solid #D9D9D9;
	font-size: 18px;
	padding: 5px 7px;
	width: 95%;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
}

#login .content .section .hint {
	display: none;
}

#login_submit {
	margin: 15px 0 0 0;
}

#login_submit input.submit {
	background: black;
	background: -moz-linear-gradient(100% 100% 90deg, #000, #333);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
	border: 1px solid black;
	color: #fff;	
	font-size: 16px;
	padding: 5px 12px;
	-webkit-border-radius: 0;
}

input.checkbox#rememberid {
	margin-left: 10px;
}

#password_warning {
	margin: 10px;
}

#password_warning .content {
	font-size: 18px;
	line-height: 150%;
	padding: 20px 0;
}

#password_warning .headline {
	font-weight: bold;
}

#password_warning .subtext {
	margin: 0 0 25px;
}

#password_warning #button_container {
	margin: 0 0 80px;
	overflow: auto;
}

#password_warning form#chpwd {
	float: left;
	overflow: auto;
}

#password_warning form#chpwd input.submit {
	background: black;
	background: -moz-linear-gradient(100% 100% 90deg, #000, #333);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
	border: 1px solid black;
	color: #fff;	
	font-size: 16px;
	padding: 5px 12px;
	-webkit-border-radius: 0;
}

#password_warning form#skip {
	float: left;
	margin: 0 10px;
	overflow: auto;
}

#password_warning form#skip input.submit {
	background: black;
	background: -moz-linear-gradient(100% 100% 90deg, #000, #333);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
	border: 1px solid black;
	color: #fff;	
	font-size: 16px;
	padding: 5px 12px;
	-webkit-border-radius: 0;
}

#lockout {
	margin: 10px;
}

#lockout .content {
	padding: 20px 0;
}

#lockout .headline {
	font-size: 18px;
	font-weight: bold;
}

#lockout .subtext {
	margin: 25px 0 100px;
}

#lockout .more {
	display: none;
}

#logout {
	height: 250px;
}

#logout .content {
	padding-top: 55px;
}

#logout .content .headline, #logout .content .subtext {
	font-weight: bold;
}

#logout .content .headline {
	color: #333;
	font-size: 22px;
	line-height: 35px;
}

#logout .content .headline.loading {
}

#logout .content .headline.success {
}

#logout .content .headline.warning {
	font-size: 18px;
}

#logout .subtext {
	color: #777;
	padding-bottom: 40px;
}

.content#logout_pending {
	display: none;
}

.content#logout_pending .subtext {
	background: transparent url(images/loader.gif) 0 center no-repeat;
	padding: 0 50px;
}

.content#logout_complete {
}

#help {
	font-size: 14px;
	line-height: 25px;
	margin: 0;
	padding: 10px;
	width: 260px;
}

#help .teaser {
	font-weight: bold;
}

#footer {
	border-top: 1px solid #fff;
	font-size: 14px;
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

#footer li {
	margin: 5px 0;
}

#footer li a {
	color: #222;
}
